body{
	position: relative;
    background-image: url("Assets/Bg.jpg");
    font-family: "Bai Jamjuree", sans-serif;
    color: #FFF;
	margin: 10px;
	min-width: 300px;
}
/*button design*/
.button{
	color: #FFFFFF;
	border-width: 3px;
	font-size: 20px;
	border-style: solid;
	border-color: #152E8E;
	padding: 15px 32px;
	border-radius: 10px;
}

.button:hover{
	border: none;
	background-color: #E77014;
	color: #ffffff;
	text-decoration: none;
}

/*Overlay layer*/
.overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
}

#superpause{
	opacity: 0;
	background-color: rgba(0,0,0,0.8);
}

#superstop{
	opacity: 0;
	background-color: #9B1E20;
}

#pause, #stop{
	font-size: 15vw;
	margin-top: 5%;
	text-align: center;
	line-height: 100%;
}

/*main*/
#logo{
	position: relative;
	margin: 5% auto auto 5%;
	width: 170px;
}

#score_table{
	color: #FFF;
	font-size: 22px;
	line-height: 0.8em;
	text-align: center;
	text-transform: uppercase;
}

#score_table_reduced{
	display: none;
}

#timer{
	position: relative;
	margin: 0.4vw;
	text-align: center;
	font-size: 8vw;
	font-weight: bold;
	opacity: 1;
}

#notes{
	position: relative;
	font-size: 18px;
	text-align: left;
	margin: auto;
	
}
/*card personalization*/
#card1, #card2, #card3, #card4{
	position: fixed;
	width: 310px;
	bottom: -15%;
}
#card1{
	left: 2%;
}
#card2{
	left: 27%;
}
#card3{
	left: 52%;
}
#card4{
	left: 77%;
}
/*ribbon*/
#lvl1, #lvl2, #lvl3, #lvl4{
	position: fixed;
	z-index: 2;
}
#lvl1{
	width: 300px;
	left: 2.3%;
	bottom: -130px;
}
#lvl2{
	width: 310px;
	left: 27%;
	bottom: -130px;
}
#lvl3{
	width: 266px;
	left: 53.8%;
	bottom: -134px;
}
#lvl4{
	width: 285px;
	left: 78.4%;
	bottom: -130px;
}

#footer{
	color: #9F9F9F;
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0px;
	padding: 15px;
	background-color: #272727;
	font-size: 12px;
	z-index: 4;
}

.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

/* change color in row */
.Shield_background{
    background-color:blue;
}
.Normal_background{
    background-color:None;
}
.Stun_background{
    background-color:green;
}
.Destroy_background{
	background-color:red;
}

@media only screen and (max-width: 992px){
	#notes{
		font-size: 12px;
		text-align: center;
	}
	#timer{
		font-size: 14vw;
	}
	#logo{
		width: 100px;
	}
	#toppest{
		margin: 0 0 20px 0;
	}
	#score_table{
		display: none;
	}
	#score_table_reduced{
		display: inline-table;
		color: #FFF;
		font-size: 22px;
		line-height: 0.8em;
		text-align: center;
		text-transform: uppercase;
	}
	#pause, #stop{
		font-size: 20vw;
	}
	@media only screen and (max-width: 768px){
		#pause, #stop{
			font-size: 25vw;
			margin-top: 30%;
		}
	}
} 