body{
    background-image: url("Assets/Bg.jpg");
    font-family: "Bai Jamjuree", sans-serif;
    color: #FFF;
	margin: 10px;
	min-width: 300px;
}

#logo{
	position: relative;
	margin: 5% auto auto 5%;
	width: 170px;
}

#score_table{
	color: #FFF;
	font-size: 22px;
	line-height: 0.8em;
	text-align: center;
	text-transform: uppercase;
}

#score_table_reduced{
	display: none;
}

#timer{
	position: relative;
	margin: 0.4vw;
	text-align: center;
	font-size: 8vw;
	font-weight: bold;
}
#notes{
	position: relative;
	font-size: 18px;
	text-align: left;
	margin: auto;
	
}
#footer{
	color: #9F9F9F;
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0px;
	padding: 15px;
	background-color: #272727;
	font-size: 12px;
}
.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

/* change color in row */
.Shield_background{
    background-color:blue;
}
.Normal_background{
    background-color:None;
}
.Stun_background{
    background-color:green;
}
.Destroy_background{
	background-color:red;
}

@media only screen and (max-width: 992px){
	#notes{
		font-size: 12px;
		text-align: center;
	}
	#timer{
		font-size: 14vw;
	}
	#logo{
		width: 100px;
	}
	#toppest{
		margin: 0 0 20px 0;
	}
	#score_table{
		display: none;
	}
	#score_table_reduced{
		display: inline-table;
		color: #FFF;
		font-size: 22px;
		line-height: 0.8em;
		text-align: center;
		text-transform: uppercase;
	}
} 